* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.weather-app {
  height: 500px;
  width: 500px;
  margin-left: 500px;
  margin-top: 90px;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  padding: 20px;
}
input {
  width: 60%;
  height: 30px;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 75px;
  padding-left: 10px;
}
#search-btn {
  border-radius: 50%;
  padding: 5px;
  height: 35px;
  width: 35px;
}
#temperature {
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  margin-right: 5px;
  color: #f1f1f1;
}
#weather-condition {
  text-align: center;
  margin-top: 5px;
  color: #f1f1f1;
}
#city-name {
  text-align: center;
  margin-top: 5px;
  color: #f1f1f1;
}
#humid-icon {
  margin-top: 80px;
  margin-left: 30px;
}
#humid-percent {
  font-size: 20px;
  margin-left: 80px;
  margin-top: -45px;
}
#humidity {
  font-size: 20px;
  margin-left: 80px;
}
#wind-icon {
  margin-top: -800px;
  margin-left: 150px;
}
#wind-speed {
  font-size: 20px;
  margin-left: 360px;
  margin-top: -45px;
}
#wind-metric {
  font-size: 20px;
  margin-left: 360px;
}
#icon {
  margin-left: 175px;
  margin-top: 30px;
}
.background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  transition: opacity 500ms;
}

.video-visibility-show {
  opacity: 1;
}
